.App {
  width: 100vw;
  height: 100vh;
  padding-top: 12vh;
}

.SongItem {
  display: flex;
  flex-direction: column;
}

.DisplaySong {
  display: flex;
  justify-content: center;
  margin: 10vh;
  align-items: center;
  gap: 30px;
  padding-left: 15vw;
}

.AlbumCover {
  width: auto;
  height: 17vw
}

.SongInfo {
  height: fit-content;
  width: 30vw;
  list-style-type: none;
}

.SongTitle {
  font-size: 6vh;
}


.ArtistName {
  font-size: 4vh;
}

.AlbumTitle {
  font-size: 3vh;
}

.Question {
  margin-left: 35vw;
  margin-right: 35vw;
  text-align: center;
  font-size: 4vh;
}

.NextSongBtn {
  margin-left: 45vw;
  margin-right: 45vw;
  margin-top: 15vh;
  height: 4vh;
  font-size: 15px;
}

.GreenButton {
  background-color: #4CAF50;
  border-color: transparent;
  font-weight: bold;
  border-radius: 15px;
}

.GreenButton:hover {
  background-color: #358f38;
}

.showAllPlayersDiv {
  display: grid; 
  position: absolute;
  right: 10vh;
  top: 5vw;
}

.playersList {
  font-size: 2vw;
  display: grid;
  position: absolute;
  top: 5vh;
}

.playerView {
  clear: both;
  overflow:visible;
}

.showPlayersButton {
  font-size: 1.2vw;
}