.CurrentPlayers{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.PlayerTable {
    width: 40vw;
    height: 40vh;
    background-color: white;
    align-self: center;
    padding: 1vh;
    scroll-behavior: auto;
}

.StartGameBtn {
    align-self: center;
    margin-top: 10vh;
    background-color: #4CAF50;
    border-color: transparent;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    padding: 4vh;
}

.StartGameBtn:hover {background-color: #4caf4fd1}

.StartGameBtn:active {
  background-color: #4caf4fd1;
  transform: translateY(4px);
}

.Content{
    width: 40vw;
    height: 40vh;
    margin:auto;
    background-color: rgb(181, 181, 181);
    overflow:scroll;
    overflow-x:hidden;
}

.Label {
    font-weight: bold;
    font-size: x-large;
}
