.Login {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.login-button {
    background-color: #4CAF50;
    border-color: transparent;
    font-weight: bold;
    border-radius: 15px;
    font-size: 96px;
}

.login-button:hover {
    cursor:pointer;
}