h1 {
    margin: 0;
}

button {
    margin-left: auto; /* Push this element to the right */
}

#main {
    border: 1px dotted black;
    display: flex;
    align-items: center; /* Vertical align the elements to the center */
}

#end_session {
    background-color: #4CAF50;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
