#buttonPlay {
    position: relative;
    /* top: 20vh;
    left: 49vw; */
    
    border-style: solid;
    border-width: 37px;
    border-color: #202020;
    border-width: 10px 0px 10px 20px;
    border-color: transparent transparent transparent #202020;
    box-sizing: border-box;
    
}

#buttonPause {
    position: relative;
    width: 10px;
    height: 15px;
    border-style: solid;
    border-width: 20px;
    border-color: #202020;
    border-style: double;
    border-width: 0 0 0 37px;
    border-color: #202020;
}

.buttonMusic {
    top: 20vh;
    left: 45vw;
}

.button.endgame {
    margin: 10px;
    border-radius: 10px;
    border-color: black;
    background-color: red;
    
}

.song {
left: 30vw;
    top: 10vh;
}

#songCoverImg {
    width:  200px;
    margin-right: 4vw;
    align-content: center;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
}


#songInfo {
    position: relative;
    float: right;
    margin-top: 6vh;
    /* right: 10vw;
    top: 10vh; */
}

#songSection {
    display: flex;
    left: 30vw;
    top: 10vh;
}

#guessForm {
    position: relative;
    text-align: center;
    top: 18vh;
}

#guess {
    border-radius: 25px;
    border-color: #202020;
}

