.button.play {
    position: relative;
    top: 37.8px;
    left: 350px;
    
    border-style: solid;
    border-width: 37px;
    border-color: #202020;
    border-width: 10px 0px 10px 20px;
    border-color: transparent transparent transparent #202020;
    box-sizing: border-box;
    
}

.button.endgame {
    margin: 10px;
    border-radius: 10px;
    border-color: black;
    background-color: red;
    
}

#songCoverImg {
    width:  150px;
    align-content: center;
    margin: 28px;
    position: relative;
    left: 30%;
    border: 2px solid black;
    overflow: hidden;
}

#songInfo {
    margin: 5px;
    position: relative;
    right: 150px;
    top: 40px;
    float: right;
}

#guessForm {
    position: relative;
    text-align: center;
    top: 25px;
}

#guess {
    border-radius: 25px;
    border-color: #202020;
}